body{
    text-align: center;
    background-color: #89ad90;
    padding-top: 0px;
    margin: auto;
    box-sizing: border-box;
}
h1{
    color: #000;
    padding: 50px;
}
/*
=================================================
SEARCH
=================================================
*/
form{
width:100%;
max-width:600px;
margin:0 auto;
}

input{
width:100%;
font-size:32px;
margin:5px 0;
border:none;
padding:10px;
outline:none;
display:inline-block;
}
.search-bar{
   width:80%;
}
.submit-button{
   width:15%;
   background:#000;
   color:#FFF;
}


var showCalc = false;
function showCalculator(){
   if (showCalc == false){
       document.getElementById("calc").style.opacity = 1;
       showCalc = true;
   }
   else if (showCalc == true){
       document.getElementById("calc").style.opacity = 0;
       showCalc = false;
   }
}

//CLOCK SCRIPT
function startTime() {
 const today = new Date();
 let h = today.getHours();
 let m = today.getMinutes();
 let s = today.getSeconds();
 m = checkTime(m);
 s = checkTime(s);
 document.getElementById('clock').innerHTML =  h + ":" + m + ":" + s;
 setTimeout(startTime, 1000);
}

function checkTime(i) {
 if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
 return i;
}
